<a href="https://colab.research.google.com/github/kavalapavan25/595/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
a='hyderabad'
b='aeiou'
c=0
def p_q(a):
  global c
  for i in a:
      if i.lower() not in b:
        c+=1
  return c
p_q(a)

6

In [8]:
a=list(map(int,input().split()))
b=[]
for i in a:
  if i%5==0:

    b.append(i-5)
  else:
    b.append(i)

30 42 56 70 45 35

In [6]:
 b

[25, 65, 40, 30]

In [9]:
b

[25, 42, 56, 65, 40, 30]

In [31]:
a=[23,24,45,67,99,54,20]
b=[]
c=[]
e=0
f=0
for i in a:
  if i%2==0:
    e += i
    b.append(e)
  elif i%2!=0:
    f += i
    c.append(f)
print(b)
print(c)

[24, 78, 98]
[23, 68, 135, 234]

In [34]:
b

[24, 78, 98]

In [35]:
c

[23, 68, 135, 234]

In [27]:
b=[]
c=[]
e=0
f=0
def l_q(a):
  global e, f
  b=[]
  c=[]
  for i in range(1,len(a)):
    if a[i]%2==0:
      e += i

    elif a[i]%2!=0:
      f += i
  return e,f
a = [20, 35, 45, 30, 60, 75, 85, 45, 25, 40]
even_sum, odd_sum = l_q(a)

In [34]:
e

16

In [29]:
f

29

In [1]:
s={"Mumbai":50,"Hyd":40,"delhi":30,"dubai":20,"jaipur":100,"kol":350,"chenn":280,"dadar":200}
for i in s:
  if s[i]<100:
    print(i)

Mumbai
Hyd
delhi
dubai

In [ ]:
def aoc(radius):
  area=3